<!---------------- main app template -------------->

<!-- optional style -->
<style></style>


<!-- template section -->
<app-header (whenClick)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes-page *ngIf="pageLoad === 'recipes'"></app-recipes-page>
      <app-shopping-list *ngIf="pageLoad !== 'recipes'"></app-shopping-list>
    </div>
  </div>
</div>


<!-- optional script -->
<script></script>


<!-- NB:
  ($event) allows listen to clickEvent in header for navigation
  Add onNavigate in app.comp.ts
-->
